<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Ruta_Documentos" value="E:\inetpub\wwwroot\adminreclamos\Files" />
    <add key="Adjuntos_Cliente" value="C:\inetpub\wwwroot\armanto\Adjuntos_Cliente" />
    <add key="Adjuntos_Cliente_Temp" value="C:\inetpub\wwwroot\armanto\Adjuntos_Cliente_Temp" />
    <add key="Logo" value="E:\inetpub\wwwroot\adminreclamos\Logo\logo.png" />
    <add key="EmailFrom" value="informes@acuriorestaurantes.com" />
    <add key="PassFrom" value="Bl4d3bl20pg3" />
    <add key="EmailTo" value="" />
    <add key="EmailSubject" value="Acurio Restaurantes - Libro Reclamaciones" />
    <add key="EmailBody" value="Estimados." />
    <add key="ImagenCorreo1" value="E:\Inetpub\wwwroot\adminreclamos\images\banner_superior.png" />
    <!-- produccion -->
    <add key="UrlAPI" value="https://vhzcmps4ci.sap.acuriorestaurantes.net:44300/sap/bc/ws_process_otm?sap-client=100&amp;sap-language=ES" />
    <add key="UrlAPI_HES" value="https://vhzcmps4ci.sap.acuriorestaurantes.net:44300/sap/bc/zws_create_hes?sap-client=100&amp;sap-language=ES" />
    <!-- desarrollo -->
    <!--
	<add key="UrlAPI" value="https://vhzcmds4ci.sap.acuriorestaurantes.net:44300/sap/bc/ws_process_otm?sap-client=110" />
	<add key="UrlAPI_HES" value="https://vhzcmds4ci.sap.acuriorestaurantes.net:44300/sap/bc/zws_create_hes?sap-client=110" />
    -->
    <!--
	<add key="user" value="DS4_RFCUSR" />
	<add key="pswd" value="@cur1Orfc$" />
	-->
    <!-- produccion -->
    <add key="user" value="PS4_RFCUSR" />
    <add key="pswd" value="$l3Y9~&gt;8]l(goUM" />
  </appSettings>
  <connectionStrings>
    <add name="cadenaConexion" providerName="System.Data.SqlClient" connectionString="server=172.16.20.3;database=ARMANTO;uid=sa;pwd=Pr0c3s4d0r" />
    <add name="cadenaConexionAcceso" providerName="System.Data.SqlClient" connectionString="server=172.16.20.3;database=ARSYSUSERS;uid=sa;pwd=Pr0c3s4d0r" />

  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="appNameAuth" />
    </authentication>
    <sessionState timeout="525600" />
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="93000" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>